  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .brand-logo{
  	width: 100px;	/*100*/
  	height: auto; /*auto para imagen responsiva*/
  }

